* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-jumbo {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #4a148c;
  box-shadow: rgb(168, 156, 156) 3px 3px 9px -3px;
}

.card {
  margin-top: 10px;
  border: none;
  padding: 5px;
  background-color: #4a148c;
}
.btn-primary {
  border: none;
  width: 60px;
  background-color: #4a148c;
}
.card-body input {
  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
  box-shadow: rgb(177 174 174) 2px 2px 5px -2px;
}

.none {
  display: none;
}
.img {
  width: 100px;
  height: 100px;
}
.clock {
  line-height: 5px;
}

@media only screen and(max-width:425px) {
  .card {
    display: none;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    padding: 5px;
    background-color: #4a148c;
  }
}

.ico {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
