.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and(max-width:300) {
  .card {
    margin-top: 50px;
  }
}
.card {
  margin-top: 10px;
  border: none;
  padding: 5px;
  background-color: #4a148c;
}
.btn-primary {
  border: none;
  width: 60px;
  background-color: #4a148c;
}
.card-body input {
  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
  box-shadow: rgb(177 174 174) 2px 2px 5px -2px;
}

.none {
  display: none;
}

.img {
  width: 100px;
  height: 100px;
}
