* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  overflow-x: hidden;
  background-color: #f0efe9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-jumbo {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: #4a148c;
  box-shadow: rgb(168, 156, 156) 3px 3px 9px -3px;
}

.card {
  margin-top: 10px;
  border-radius: 0px;
  border: none;
  padding: 0px 20px 0px 20px;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 23px;
  font-size: 15px;
  font-weight: 400;
  width: 250px;
}

/* .card:last-child {
  margin-bottom: 10px;
} */

.btn-primary {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  top: 30px;
  background-color: #4fe3a4;
}
.card-body input {
  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
  box-shadow: rgb(177 174 174) 2px 2px 5px -2px;
}

.none {
  display: none;
}
.clock {
  line-height: 5px;
}

@media only screen and(max-width:425px) {
  .card {
    display: none;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    padding: 5px;
    background-color: #4a148c;
  }
}

.ico {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.op-1:hover {
  color: rgba(219, 20, 20, 0.747);
}

.op-2:hover {
  color: green;
}
.date-line {
  margin-top: 13px;
  line-height: 11px;
  font-size: 10px;
}

.date {
  margin-right: 5px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 12px;
}

.day {
  margin-top: 13px;
  font-size: 12px;
  text-transform: uppercase;
}

.cardlist {
  overflow: auto;
}

.sticky {
  top: 0;
  position: sticky;
}
.form-check-input:checked {
  background-color: #4fe3a4;
}
